<%- include('partials/_header'); -%>
<div class="container">
    <h2 class="ml-2">
        Customers
    </h2>
<div class="row mt-5">
    <div class="col-md-7">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= data[i].name %></td>
                            <td><%= data[i].address %></td>
                            <td><%= data[i].phone %></td>
                            <td style="white-space: nowrap;">
                                <a href="/update/<%= data[i].id %>" class="btn btn-info" style="margin-right: 5px;"><i class="fa fa-edit"></i></a>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form action="/add" method="post">
                    <div class="form-group">
                        <input type="text" required name="name" placeholder="Name" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" required name="address" placeholder="Address" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" required name="phone" placeholder="Phone" class="form-control" >
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Add Customer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('partials/_footer'); -%>